.chrome-extension-content {
  position: fixed;
  bottom: 12px;
  right: 12px;
}
.chrome-extension-content__drawer--dark {
  background-color: #191919;
  color: #fff;
}
.chrome-extension-content__drawer--light {
  background-color: #fff;
  color: #191919;
}
