.App {
  background-color: #fff;

  .ant-btn {
    .ant-btn-icon {
      font-size: 16px;
    }
  }

  .random-tips {
    margin-top: 24px;
    padding: 12px;
    color: #666;
    background-color: #fff6f0;

    .title {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .tab-content {
    padding: 0 12px;
  }

  .ant-row {
    .ant-col {
      flex: none !important;
    }
  }
  .ant-form-item {
    margin-bottom: 12px !important;
  }
  .ant-space-compact {
    .ant-input-number-compact-first-item .ant-input-number-group-addon,
    .ant-input-number-compact-last-item .ant-input-number {
      border-radius: 0;
    }
  }
}
